* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
}
body {
  margin: 1rem;
  padding: 0;
}

p {
  margin: 0;
  padding: 1rem;
}
 
button {
    padding: 1rem;
    margin: 1rem;
}
